# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
ENV/
.venv/

# Django
db.sqlite3
*.sqlite3
staticfiles/
media/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Angular build output
frontend/chess-frontend/dist/

# IDEs
.vscode/
.idea/
.vercel
.env*.local
